@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400;500;700&family=DM+Mono:wght@400;500&display=swap");
@import "tailwindcss";

@theme {
  --font-sans: "Be Vietnam Pro", "Inter", system-ui, sans;
  --font-mono: "DM Mono", monospace;

  --color-bg: #000a1f;
  --color-fun-gray-light: #b2bbcf;
  --color-fun-gray: #7b89a8;
  --color-fun-gray-medium: #767c85;
  --color-fun-gray-darker: #2a2a2c;
  --color-fun-gray-dark: #1f1f20;
  --color-fun-gray-darkest: #141414;
  --color-fun-pink: #00c7ff;
  --color-fun-pink-darker: #000f2e;
  --color-fun-pink-darkest: #000c24;
  --color-fun-pink-dark: #192742;
  --color-fun-pink-light: #009ac5;

  --animate-fadeIn: fadeIn 3s ease-out;

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  @apply bg-bg;
}

body::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}

body::-webkit-scrollbar-track {
  background: blue;
  display: none;
}

body::-webkit-scrollbar-thumb {
  background-color: #fff2;
  backdrop-filter: blur(5px);
  border-radius: 10px;
}

.testimonialQuote::before {
  content: "“";
  position: absolute;
  top: -10px;
  left: -46px;
  opacity: 0.75;
  font-size: 80px;
  @apply text-fun-pink;
}

/* All svg squiggle decorations */